*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
footer{
    display: flex;
    margin-top: 20px;
    padding: 10px 15px;

}
nav{
    background-color: rgb(241, 182, 18);
    padding: 10px 12px;
}
.footer-left{
    width: 35%;
}
.footer-right{
    width: 65%;
}
.footer-content-mail i, .footer-content-phone i, .footer-content-location i{
    padding-right: 10px;
}
.section{
    display: flex;
    border-bottom: 1px solid  rgb(194, 190, 190);
    padding: 10px 15px;
}
.section-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-right{
    width: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-title{
    text-align: center;
}
.section-img{
    width: 90%;
    height: 500px;
}
.section-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.main{
    width: 100%;
    height: 100vh;
    background: url('img/khachsan.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.main-content{
    position: absolute;
    width: 600px;
    max-width: 95%;
    top: 50%;
    left: 30%;
    transform: translate(-30%,-50%);
    background-color: #dd6e2e7a;
    padding: 50px 30px;
    border-radius: 10px;
    color: #fff;
}
.main-title{
    font-size: 35px;
}
.main-actions a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(34, 238, 34);
    padding: 10px 15px;
    border-radius: 20px;
    float: right;
}

.rooms-items{
    display: flex;
    padding: 20px 50px;
    align-items: center;
    justify-content: space-between;

}
.rooms-item{
    width: calc(50% - 20px);
    list-style: none;
    position: relative;
    padding: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rooms-img{
    width: 90%;
    position: relative;
    height: 400px;
}
.rooms-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.rooms-content{
    position: absolute;
    background-color: rgba(236, 140, 51, 0.527);
    top: 0;
    left: -1000px;
    width: calc(100%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .3s left;

    
}
.rooms-img:hover .rooms-content{
    left: 0;
}
.rooms-name{
    font-size: 25px;
    color: #fff;
}
.rooms-actions a{
    background-color: rgb(40, 230, 40);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
}
.rooms-intro{
    background-color: rgba(238, 78, 78, 0.747);
    margin-top: 10px;
    padding: 10px 20px;
    padding-left: 100px;
    color: #fff;
}
.rooms-intro h3{
    font-size: 20px;
}
.rooms-title{
    margin-top: 12px;
    margin-left: 100px;
}
.rooms-title h4{
    background-color: orangered;
    display: inline;
    padding: 5px 10px;
    margin-top: 12px;
    color: #fff;
}
.login{
    height: 400px;
    position: relative;
    width: 100%;
}
.login-form{
    width: 400px;
    max-width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sgn{
    height: 650px;
}
.user{
    width: 100%;
    padding: 0 20px;
}
.user a{
    background-color: rgb(26, 226, 26);
    text-decoration: none;
    color: #fff;
    float: right;
    padding: 10px 15px;
    border-radius: 5px;
}
.hidee{
    display: none;
}
@media screen and (max-width:888px){
    .section{
        flex-direction: column;
    }
    .section-left, .section-right{
        width: 100%;
    }
    footer{
        flex-direction: column;
    }
    .footer-left, .footer-right{
        width: 100%;
        padding: 15px 0;
    }
    .footer-left{
        margin: 10px 0;
        border-bottom: 1px solid #fff;
    }
    .rooms-items{
        flex-direction: column;
    }
    .rooms-item{
        width: 100%;
    }
}